* { font-family: -apple-system, segoe ui, system-ui; box-sizing: border-box; }
*:not(h1) { font-size: 14px; }
*[disabled] { cursor: not-allowed !important; }

a { text-decoration: none; }
a:hover:not(li a) { text-decoration: underline; }

body { background: rgb(2,69,81); color: white; }

.super_header {
  font-size: 80px;
}

button {
  background: rgb(30,140,230);
  border: none;
  border-radius: 128px;
  color: white;
  padding: 8px 16px;
  outline: none;
  margin: 5px;
  cursor: pointer;
}
button.critical { background: rgb(200,30,30); }
button.critical:hover { background: rgb(140,30,30); filter: drop-shadow(0 2px 4px rgba(0,0,0,0.2)); }
button.critical:active { background: rgb(100,30,30); }

button.uncritical { background: rgb(51, 204, 51); }
button.uncritical:hover { background: rgb(20,164,51); filter: drop-shadow(0 2px 4px rgba(0,0,0,0.2)); }
button.uncritical:active { background: rgb(0,104,51); }

input {
  background: rgb(60,60,60);
  border: 1px solid rgb(0,100,177);
  border-radius: 128px;
  color: white;
  padding: 6px 16px;
  outline: none;
  margin: 5px;
}
input:focus-visible, button:focus-visible { background: rgb(80,80,80); }

button:hover { background: rgb(0,100,200); filter: drop-shadow(0 2px 4px rgba(0,0,0,0.2)); }
button:active { background: rgb(0,60,110); }
button[disabled] { color: rgba(255,255,255,0.5); }

*::-webkit-scrollbar { width: 6px; }
*::-webkit-scrollbar-thumb { background: rgb(0,100,177); border-radius: 6px; }
*::-webkit-scrollbar-thumb:hover { background: rgb(30,145,235); }
*::-webkit-scrollbar-thumb:active { background: rgb(0,65,115); }

.flexBody { display: flex; }

img { filter: drop-shadow(0 0 8px rgba(0,0,0,0.5)); }

.navbarWrapper {
  will-change: transform;
  position: sticky;
  top: 0;
  z-index: 255;
  margin: -8px -8px 0 -8px;
  background: rgba(30,124,199,0.8);
  box-shadow: 0px 0px 6px rgba(0,0,0,0.5);
  text-align: center;
  backdrop-filter: blur(5px);
}
.navbarWrapper ul{
  list-style-type: none;
  margin: 0 0 -4px;
  padding: 0;
  width: 100%;
  max-width: 800px; /* space between menu and LogIn/SignUp */
  display: inline-block;
}
.navbarWrapper li { float: left; }
.navbarWrapper li a{
  display: block;
  color: white;
  padding: 12px;
  transition: 0.2s;
}
.navbarWrapper li a:hover { background: rgba(0,0,0,0.5); transition: none; }
.navbarWrapper li a:active { background: rgba(0,0,0,0.3); }